<!DOCTYPE html>
<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainStyle.css">
    <meta charset="UTF-8">
    <title>Bootstrap-Portfolio</title>
</head>

<body>
    <div class="body">

        <!-- Navigation -->
        <div class="navbar bg-dark fixed-top">
            <div class="container">
                <div class="navbar-brand text-light">Bootstrap-Portfolio</div>
                <ul class="navbar-nav NavUL">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link text-light nav-A">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="todolist.html" class="nav-link text-light nav-A">
                                TodoList
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link text-light nav-A">
                                Contact
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="NasaApiData.html" class="nav-link text-light nav-A">
                                ApiProject
                            </a>
                        </li>
                        <div class="underline"></div>
                </ul>
            </div>
        </div>

    <!-- Body -->
      <div class="container-fluid Banner">
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 pe-0">
            <p class="display-6 text-center">🦄</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h1 class="display-4 headerTitle">Welcome to my Bootstrap-5 Portfolio</h1>
                <p class="lead mt-2">I am a full-stack web developer, based in Berlin with experience in a variety of technologies including HTML, CSS, Javascript, Git</p>
                <p class="lead"> Please take a look at my projects below and don`t hesitate to get in touch, if you have any guestions</p>
            </div>
            <div class="col-4">
                <img class="image-fluid rounded-circle" src="https://pbs.twimg.com/profile_images/719443055120683008/HF4gEH3C_400x400.jpg" alt="Image of Developer">
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-lg-4">
                <h2>Project 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat vel odio finibus tempus ac id metus. Sed et mi vel
                lectus sollicitudin blandit. Donec convallis risus eu aliquet auctor. Duis imperdiet in turpis a suscipit.</p>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div card="card-title">
                            Project 2
                        </div>
                        <div class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat vel odio finibus tempus ac id metus. Sed et mi vel lectus sollicitudin blandit. Donec convallis risus eu aliquet auctor. Duis imperdiet in turpis a suscipit.
                        </div>
                        <a href="NasaApiData.html" class="btn btn-outline-success mt-2">Api Playground</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Project 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et erat vel odio finibus tempus ac id metus. Sed et mi vel
                lectus sollicitudin blandit. Donec convallis risus eu aliquet auctor. Duis imperdiet in turpis a suscipit.</p>
            </div>
        </div>
      </div> <!--close Banner-->

        <!-- Footer -->
        <div class="footer fixed-bottom bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <p class="h6 fs-3">BootstrapPortfolio</p>
                    </div>
                    <div class="col">
                     <p class="text-muted lead">Made with💛💙 by Yurii</p>
                    </div> <!--close col-->
                </div> <!--close row-->
            </div> <!--close container-->
        </div> <!--close footer-->
    </div>

    <!-- Imports  -->
    <script src="../backend/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>
</html>